<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Particulars</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>{{this.date}}</td>
                </tr>
                <tr>
                    <td>Payment ID</td>
                    <td>{{this.payId}}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>{{this.amt}}</td>
                </tr>
                <tr>
                    <td>Purchases</td>
                    <td>{{this.list}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>